<div class="container navbar-lewagon">
  <%= link_to root_path do %>
    <h1><span style="opacity: 0.8;">Miguel's Cocktail Bar</h1>
  <% end %>
  <%= link_to 'Create new cocktail', new_cocktail_path, class: "btn btn-outline-white" %>
</div>

<div class="container mt-3">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-product mb-4 ml-4">
          <img src="<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>" />
          <div class="card-product-infos">
            <h2><%= cocktail.name %></h2>
          </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
